#game-display {
	margin: 0 auto;
	text-align: center;
	height: 100%;
	width: 100vw;
}

.rooms {
	position: relative;
	width: 79%;
	margin-left: -5px;
	float: left;
}

#info-bar {
	position: relative;
	width: 19%;
	float: left;
}

#guidebook {
	position: absolute;
	top: 4%;
	left: 33%;

}

#dialog {
	position: absolute;
	top: 28%;
	left: 19%;
	width: 160px;
	font-size: 20px;
}

#show-collected {
	position: absolute;
	top: 68%;
	left: 23%;
}

#step-1 {
	position: absolute;
	top: 80%;
	left: 19%;

}

#step-2 {
	position: absolute;
	top: 84%;
	left: 19%;
	color: gray;

}

#step-3 {
	position: absolute;
	top: 88%;
	left: 19%;
	color: gray;

}

#step-4 {
	position: absolute;
	top: 92%;
	left: 19%;
	color: gray;

}

.bg img {
  width: 100%;
  height: auto;
  z-index: -1;
}


.round {
    border-radius: 50%;
}

.round:hover {
	border: 1px solid black;
}

.click-right {
	position: absolute;
  	top: 50%;
  	left: 95%;
}

.click-left {
	position: absolute;
  	top: 50%;
  	left: 1%;
}

.btn-primary {
	position: absolute;
  	top: 50%;
  	left: 50%;
}


#label-1 {
	position: absolute;
	top: 80%;
	left: 15%;
	
}

#label-2 {
	position: absolute;
	top: 78%;
	left: 55%;
	
}

#label-3 {
	position: absolute;
	top: 20%;
	left: 18%;
	
}

#label-4 {
	position: absolute;
	top: 55%;
	left: 0%;
	
}

#label-5 {
	position: absolute;
	top: 90%;
	left: 11%;
	
}

#label-6 {
	position: absolute;
	top: 69%;
	left: 63%;
	
}

#torc {
	position: absolute;
	top: 29%;
	left: 9%;
}

#bog-body {
	position: absolute;
	top: 70%;
	left: 70%;
}

#shield-1 {
	position: absolute;
	top: 86%;
	left: 90%;
	width: 88px;
}

#shield-2 {
	position: absolute;
	top: 76%;
	left: 40%;
	width: 103px;
}
#shield-3 {
	position: absolute;
	top: 79%;
	left: 49%;
	width: 97px;
}

#shield-4 {
	position: absolute;
	top: 71%;
	left: 49%;
	width: 110px;
	transform: rotate(33deg);
}

#shield-5 {
	position: absolute;
	top: 10%;
	left: 77%;
	width: 126px;
}

#shield-6 {
	position: absolute;
	top: 80%;
	left: 8%;
	transform: rotate(90deg);
	width: 120px;
}

#shield-7 {
	position: absolute;
	top: 53%;
	left: 34%;
	width: 94px;
}

#shield-8 {
	position: absolute;
	top: 36%;
	left: 31%;
	width: 108px;
}
#greek-vase {
	position: absolute;
	top: 74%;
	left: 29%;
	
}

#roman-coin {
	position: absolute;
	top: 21%;
	left: 82%;
	width: 30px;
	
}

#british-coin {
	position: absolute;
	top: 23%;
	left: 38%;
	width: 30px;
	
}

#viking-helmet {
	position: absolute;
	top: 3%;
	left: 65%;
	width: 120px;
}

#roman-helmet {
	position: absolute;
	top: 43%;
	left: 15%;
	width: 135px;
}

#note {
	position: absolute;
	top: 55%;
	left: 35%;
}

#guideButton {
	display: block;
	margin-top: 50px;
	margin-left: 10px;
	text-align: center;
}

#post-it {
	margin-left: 100px;
}

.modal.and.carousel {
  position: fixed; /*Needed because the carousel overrides the position property */
}

#collection-lightbox {
	margin: 0 auto;
}

@media only screen and (max-width: 600px) {
	#lightbox {
		width: 80vw;
	}

.d-block {
	margin: 0 auto!important;
}


.tshadow {
	 text-shadow: 2px 2px 5px black;
}
